.corrida {
    background: #EBF7FA;
    margin-top: 5px
}
.disponible {
 width: 20px; 
 height: 20px; 
 background: #419032;     
 float: left;
}
.ocupado {
 width: 20px; 
 height: 20px; 
 background: #ED402E;
 float: left;
},
.text {      
  float: left;
}
.margenes{
  margin-left: 30px;
}
.margen{
  margin-top: 5px
}
.selectc {
 width: 20px; 
 height: 20px; 
 background: #D4BE33;
 float: left;
}
.imagen{
display:block;
margin:auto;
}

